<div class="modal-content">
    <div class="modal-body">
      <h2 class="form-title mt-3">{{ isEditMode ? 'Edit Product' : 'Add Product' }}</h2>
      <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Titlu Produs</label>
          <input type="text" id="title" formControlName="title" class="form-control" />
        </div>

        <div class="form-group">
            <label for="type">Tip Produs</label>
            <select id="type" formControlName="type" class="form-control">
              <option value="">Selectează tipul produsului</option>
              <option value="Tort">Tort</option>
              <option value="Platou">Platou</option>
            </select>
          </div>
          
        <div class="form-group">
          <label for="price">Pret (per kg)</label>
          <input type="text" id="price" formControlName="price" class="form-control" />
        </div>
  
        <div class="form-group">
            <label for="image">Poza</label>
            <div class="custom-file-upload">
              <input type="file" id="image" (change)="onFileChange($event)" class="form-control-file" />
              <label for="image" class="file-label">{{ fileName || 'Alege fisier' }}</label>
            </div>
          </div>
          
  
        <div class="form-group">
          <label for="description">Descriere</label>
          <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>
  
        <div class="form-group">
          <label for="ingredients">Ingrediente</label>
          <textarea id="ingredients" formControlName="ingredients" class="form-control"></textarea>
        </div>
  
        <div class="form-group button-group">
          <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Salveaza modificarile' : 'Adauga Produs' }}</button>
          <button type="button" class="btn btn-secondary" (click)="onCancel()">Anuleaza</button>
        </div>
      </form>
    </div>
  </div>
  